{% extends "layout.html" %}

{% block title %}Page 5: Ask for dance name{% endblock %}

{% block content %}
  <h1>Page 5: What was the name of the dance Fugo, Mista, and Narancia preformed?</h1>

 <form action={{ url_for("renderPage6") }} method="POST">
  Dance Name:<br>
  
{% if session.get('DanceName') %}
  	<input type="text" name="DanceName" value="{{ session['DanceName']}}" readonly>
  {% else %}
  	<input type="text" name="DanceName" required>
  {% endif %}
  <br><br>
  
  <input type="submit" value="Submit">
</form>
{% endblock %}