{% extends "layout.html" %}

{% block title %}Page #: Ask for name who erased pucci's existence {% endblock %}

{% block content %}
  <h1>Page 6: Who was the person who erased Pucci's existence? </h1>

 <form action={{ url_for("renderPage7") }} method="POST">
  Name of person:<br>

{% if session.get('ChildName') %}
  	<input type="text" name="ChildName" value="{{ session['ChildName']}}" readonly>
  {% else %}
  	<input type="text" name="ChildName" required>
  {% endif %}
  <br><br>
  
  <input type="submit" value="Submit">
</form>
{% endblock %}