{% extends "layout.html" %}

{% block title %}Page 8: WoU meaning and stand user{% endblock %}

{% block content %}
  <h1>Page 8: What does WoU stand for? Who was the stand user?</h1>

 <form action={{ url_for("renderPage9") }} method="POST"> 

  WoU meaning:<br>
  {% if session.get('WoUstand') %}
  	<input type="text" name="WoUstand" value="{{ session['WoUstand']}}" readonly>
  {% else %}
  	<input type="text" name="WoUstand" required>
  {% endif %}
  <br><br>
  
  Stand user:<br>
  {% if session.get('WoUstandUser') %}
  	<input type="text" name="WoUstandUser" value="{{ session['WoUstandUser']}}" readonly>
  {% else %}
  	<input type="text" name="WoUstandUser" required>
  {% endif %}
  <br><br>
  
  <input type="submit" value="Submit">
 </form> 

{% endblock %}